



.resume-container {
    background-color: #0b0f19; 
    padding: 3vh 2vh; 
    min-height: 100vh; 
    box-sizing: border-box;
    border-color: #0b0f19;

}


.resume-content {
    background-color: #ffffff; 
    max-width: 61vh; 
    margin: 0 auto; 
    margin-top: 5vh;
    padding: 4vh; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 4px; 
}



.button-group {
    display: flex;
    flex-direction: column;
    gap: 3vh; 
}

.center-buttons {
    display: flex; 
    justify-content: center;
    align-items: center;
    
    width: 32vh;
    height: 9vh;
    background-color: #0ea5e9; 
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: opacity 0.2s ease;
    font-size: 5vh;

}

.center-buttons:hover {
    background-color: #0a668f;
}